body{
    background-color: lightblue;
    background-image: url(https://marketplace.canva.com/EAFmdLYzrVc/1/0/1600w/canva-colorful-gradient-y2k-motivational-desktop-wallpaper-qzfayc9-fnk.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
    color:black;
    text-indent: 35px;
}
h2{
    text-align: center;
    color:darkgreen;
    text-transform: initial;
}
h3{
    text-align: center;
    color:red;
    text-decoration:line-through;
}